<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888686298639-93mrhjmhckq1do715hvb8k0d9qckmiuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888686298639-93mrhjmhckq1do715hvb8k0d9qckmiuc</string>
	<key>API_KEY</key>
	<string>AIzaSyAAVACVm1ywoUFIBtEQgPOBvjWt3dh49G8</string>
	<key>GCM_SENDER_ID</key>
	<string>888686298639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project1</string>
	<key>PROJECT_ID</key>
	<string>projectuber-b1b85</string>
	<key>STORAGE_BUCKET</key>
	<string>projectuber-b1b85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888686298639:ios:c71dc54d97f8d3f42c057a</string>
	<key>DATABASE_URL</key>
	<string>https://projectuber-b1b85-default-rtdb.firebaseio.com</string>
</dict>
</plist>